<% provide(:title, @user.name) %>
<% if logged_in? %>
  <% provide(:heading, current_user[:name]) %>
<% end %>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
<tr class="active">
  <td class="active"><%= @user.name %></td>
  <td class="active"><%= @user.email %></td>
  <td class="active"><%= @user.phone %></td>
  <td class="active"><%= @user.address %></td>
  <td class="active"><%= link_to 'Edit', edit_user_path(@user) %></td>
</tr>
</tbody>
</table>


    <h3>Reviews</h3>
    <div class="row">
    <div class="col-md-8">
    <%= render @user.reviews %>
  </div>
  </div>
    <h4><%= link_to 'Back', products_path %></h4>
  </div>
